In [1]:
import pandas as pd
import nltk
from nltk.corpus import movie_reviews

## NLTK movie reviwes dataset

### Save all in a list of tuples

In [2]:
documents = [(movie_reviews.raw(fileid), category)
             for category in movie_reviews.categories()
             for fileid in movie_reviews.fileids(category)]

### Convert to DF

In [4]:
reviewdf = pd.DataFrame()
for review, category in documents:
    temp = pd.DataFrame(data={'review':review, 'category':category}, index=[0])
    reviewdf = reviewdf.append(temp)

In [6]:
reviewdf.reset_index(drop=True, inplace=True)
reviewdf.head()

  category                                             review
0      neg  plot : two teen couples go to a church party ,...
1      neg  the happy bastard's quick movie review \ndamn ...
2      neg  it is movies like these that make a jaded movi...
3      neg   " quest for camelot " is warner bros . ' firs...
4      neg  synopsis : a mentally unstable man undergoing ...

### Give category the desired format

In [7]:
reviewdf['category'] = reviewdf['category'].map(lambda x: '0' if x=='neg' else '1')

### Save as csv
Maybe not enough data

In [9]:
len(reviewdf)

2000

In [8]:
reviewdf.to_csv(path_or_buf='/home/jfreek/workspace/Mining_The_Social_Web/datasets/moviereviews.csv', 
                header=['category', 'review'], columns=['category', 'review'], index=None, sep=',', mode='w')
reviewdf.head()

  category                                             review
0        0  plot : two teen couples go to a church party ,...
1        0  the happy bastard's quick movie review \ndamn ...
2        0  it is movies like these that make a jaded movi...
3        0   " quest for camelot " is warner bros . ' firs...
4        0  synopsis : a mentally unstable man undergoing ...

## Tweets from Stanford

In [10]:
traintdf = pd.read_csv('/home/jfreek/workspace/Mining_The_Social_Web/datasets/tweetsstanford_training.csv', 
                       sep=',', header=None, names=['category', 'id', 'date', 'query', 'user', 'tweet'])

In [11]:
traintdf.head()

,category,id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."